/*-------------NAVBAR STARTS------------*/

.navbar {
    background-color: #041221;
}
.navbar-item {
    color: ghostwhite;
}
#navMenu {
    background-color: #041221;
}
#navbartitle {
    font-size: 20px !important;
}
img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

/*-------------NAVBAR ENDS------------*/

body {
    background-color: #092644;
}

.title {
    color: ghostwhite;
}
.subtitle {
    color: ghostwhite;
}
small {
    color: gray;
}
label {
    color: ghostwhite;
}
.notification {
    background-color: #103c6b;
}

/*-------------INTERVIEW STARTS------------*/
body {
    background-color: #092644;
}
.navbar {
    background-color: #041221;
}
.navbar-item {
    color: ghostwhite;
}
button {
    margin: 0 3px 10px 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 99px;
}
button:last-of-type {
    margin: 0;
}
p.borderBelow {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}
video {
    vertical-align: top;
    --width: 25vw;
    width: 1368px;
    height: 304px;
}
video:last-of-type {
    margin: 0 0 20px 0;
}
video#gumVideo {
    margin: 0 20px 20px 0;
}
.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
/*-------------INTERVIEW ENDS------------*/